<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<table class="table table-condensed table-striped" id="event_list">
				<caption>{{.I "Events"}}</caption>
				<tr>
					<th class="table-info">
						{{.I "Date" }}
					</th>
					<th class="table-info">
						{{.I "Participant type" }}
					</th>
					<th class="table-info">
						{{.I "Event type" }}
					</th>
					<th class="table-info">
						{{.I "Location" }}
					</th>
					<th class="align-right table-info">
						{{.I "Hours" }}
					</th>
				</tr>
			</table>
		</div>
	</div>
</div>

