<div class="current-filter container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <table class="table table-condensed">
	<tr>
	  <td>
	    <select class="calendar-filter" id="locations_filter" multiple>
	    </select>
	  </td>
	  <td>
	    <select class="calendar-filter" id="kinds_filter" multiple>
	    </select>
	  </td>
	  <td>
	    <select class="calendar-filter" id="types_filter" multiple>
	    </select>
	  </td>
	  <td>
			<input type="text" class="calendar-filter" id="users_filter">
	  </td>
	  <td>
	    <button id="save_calendar_filter" class="btn btn-small">{{.I "Save" }}</button>
	  </td>
	</tr>
      </table>
    </div>
  </div>
</div>


