<!DOCTYPE html>
<html>
  <head id="head">
    <title>
      SchedRox
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href="/mobile/css/{{.Version}}/all.css" rel="stylesheet" media="screen">
    <script src="/mobile/js/{{.Version}}/all.js" type="text/javascript"></script>
  </head>
	<body>
		<div id="loader">
		  <div id="loader-bar"></div>
		</div>
		<div id="top-nav">
		</div>
		<div id="content">
		</div>
		<a class="to-desktop" href="/mobile/to-desktop">{{.I "to desktop" }}</a>
  </body>
</html>
